body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

td, th {
  border: 1px solid #AAAAAA !important;
  background-color: #000000 !important;
}

.intro-header .page-heading h1  {
  font-size: 3rem !important;
  font-weight: 500;
}
